# BEMM459 (Week 3)
## Testing connection with Sqlite3
## We are using Chinook database (chinook.db)

In [ ]:
# Import library
import sqlite3

# Connect to the Database - the DATABASE must already exisit
# Example of path: 'S:\\SQLite\\Week 3\\XXX.db'
conn=sqlite3.connect("S:\\SQLite\\Week 3\\chinook.db")
cur=conn.cursor()

In [ ]:
# Query data from the table - Note: STUDENT table must exist

# Prepare the query String
qry="select * from customers;"

# Execute query on SQLite
cur.execute(qry)

# Display rows
rows=cur.fetchall()

for row in rows:
    print (row)

In [ ]:
# Insert values into table

# Note that multi-line string is used (and thus enclosed in three double-quotes)
qry="""insert into customers (CustomerID, FirstName, LastName, Company, Address, City, State, Country, PostalCode, Phone, Email)  
values (9011,'BEMM451_FIRSTNAME', 'BEMM451_LASTNAME', 'University of Exeter', 'Streatham Court', 'Exeter', 'Devon', 'UK', 
'EX45PI', '012345678', 'firstname.lastname@exeter.ac.uk');"""
cur.execute(qry)


# Commit data to database
conn.commit()


# Prepare the query String
qry="select * from customers;"

# Execute query on SQLite
cur.execute(qry)

# Display rows
rows=cur.fetchall()

for row in rows:
    print (row)

In [ ]:
# Close database connection
conn.close()